<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="get">
    <div>
        <div>
            <input type="text" placeholder="Enter book title">
            <button>Search</button>
        </div>
        <button type="submit" th:formaction="@{/book/add}">Add</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${books}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.title}"></td>
            <td th:text="${b.author}"></td>
            <td th:text="${b.quantity}"></td>
            <td>
                <img src="" alt="">
            </td>
            <td>
                <button type="submit" th:formaction="@{/book/detail/{id}(id=${b.id})}">xem</button>
                <button type="submit" th:formaction="@{/book/delete/{id}(id=${b.id})}">Xóa</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>